@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&family=Roboto+Mono:wght@300&display=swap");

:root {
  --main-font-fam: "Noto Sans KR", "Roboto Mono", monospace;
  --main-font-color: black;
}

.container {
  text-decoration: none;
  width: 30%;
  height: auto;
  box-sizing: border-box;
  text-align: center;
  background-color: initial;
  border: 1px solid rgba(3a, 53, 75, 0.1);
  border-radius: 3%;
  box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.637);
  margin: 50px 0 50px 0;
  padding: 20px 20px;
  font-family: var(--main-font-fam);
  &:hover {
    transform: scale(1.05);
    transition: all 0.4s;
  }
  .poster {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 3%;
  }
  .title {
    color: var(--main-font-color);
    font-size: 22px;
    font-weight: 600;
    text-decoration: none;
    &:hover {
      color: #98d7ff;
      transition: all 0.4s;
    }
  }
  .rating_runtime {
    margin-top: 20px;
    color: var(--main-font-color);
    font-size: 15px;
    font-weight: 600;
  }
  .genre {
    margin-top: 20px;
    color: var(--main-font-color);
    font-weight: 600;
  }
}
